<div class="jumbotron">
  <h1 class="display-4">Your JWT</h1>
  <p class="lead text-break">{{this.jwt}}</p>
  <h1 class="display-4">Your Unique ID</h1>
  <p class="lead text-break">{{this.sub}}</p>
</div>